#! /usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	echo -------- dh $@
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DTIDY_CONSOLE_SHARED:BOOL=YES \
		-DTIDY_COMPAT_HEADERS:BOOL=YES \
		-DTIDY_CONFIG_FILE:STRING=/etc/tidy.conf \
		-DTIDY_USER_CONFIG_FILE:STRING=~/.tidyrc \
		-DCMAKE_INSTALL_PREFIX=/usr/lib/nixnote2 \
		-DCMAKE_LIBRARY_PATH=/usr/lib/nixnote2 \
		-DCMAKE_PREFIX_PATH=/usr/lib/nixnote2 \
		-DCMAKE_INSTALL_RPATH=/usr/lib/nixnote2/lib

#-DBUILD_WITH_INSTALL_RPATH=true
#-DCMAKE_SKIP_RPATH=ON


override_dh_installchangelogs:
	echo override_dh_installchangelogs

override_dh_installdocs:
	echo override_dh_installdocs


override_dh_auto_install:
	echo ---override_dh_auto_install
	dh_auto_install --destdir debian/tmp
	mkdir -p debian/nixnote2-tidy/usr/share/doc/nixnote2
	cp debian/_extra/README-tidy.txt debian/nixnote2-tidy/usr/share/doc/nixnote2/
	cp debian/_extra/tidy.conf debian/nixnote2-tidy/usr/share/doc/nixnote2/
	cp debian/copyright debian/nixnote2-tidy/usr/share/doc/nixnote2/copyright-tidy.txt
	cp debian/changelog debian/nixnote2-tidy/usr/share/doc/nixnote2/changelog-tidy.txt
	mv tmp/usr/lib/nixnote2/lib debian/nixnote2-tidy/usr/lib/nixnote2/tidy
	mv tmp/usr/lib/nixnote2/include debian/nixnote2-tidy/usr/include/nixnote2/tidy
	cp debian/_extra/tidy.pc debian/nixnote2-tidy/usr/lib/nixnote2/tidy/pkgconfig







