#! /usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	echo -------- dh $@
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DTIDY_CONSOLE_SHARED:BOOL=YES \
		-DTIDY_COMPAT_HEADERS:BOOL=YES \
		-DTIDY_CONFIG_FILE:STRING=/etc/tidy.conf \
		-DTIDY_USER_CONFIG_FILE:STRING=~/.tidyrc \
		-DCMAKE_INSTALL_PREFIX=/opt/tidy56 \
		-DCMAKE_LIBRARY_PATH=/opt/tidy56 \
		-DCMAKE_PREFIX_PATH=/opt/tidy56 \
		-DCMAKE_INSTALL_RPATH=/opt/tidy56/lib 

#-DBUILD_WITH_INSTALL_RPATH=true
#-DCMAKE_SKIP_RPATH=ON


override_dh_installchangelogs:
	echo override_dh_installchangelogs

override_dh_installdocs:
	echo override_dh_installdocs


override_dh_auto_install:
	echo ---override_dh_auto_install
	dh_auto_install
	cp debian/_extra/README.txt debian/tidy-html56/opt/tidy56/	
	cp debian/_extra/tidy.conf debian/tidy-html56/opt/tidy56/
	cp debian/copyright debian/tidy-html56/opt/tidy56/
	cp debian/changelog debian/tidy-html56/opt/tidy56/


